<h2><%= @contact.first() %> <%= @contact.last() %></h2>

<ul class="list-group">
  <li class="list-group-item">Job: <%= @contact.job() %></li>
  <li class="list-group-item">Company: <%= @contact.company() %></li>

  <% @contact.phones().each() do |phone| %>
    <li class="list-group-item"><%= phone.type() %> phone: (<%= phone.area_code() %>) <%= phone.number() %></li>
  <% end %>

  <% @contact.emails().each() do |email| %>
    <li class="list-group-item"><%= email.type() %> email: <%= email.address() %></li>
  <% end %>

  <% @contact.addresses().each() do |address| %>
    <li class="list-group-item"><%= address.type() %> address: <%= address.street() %>, <%= address.city() %>, <%= address.state() %>, <%= address.zip() %></li>
  <% end %>
</ul>

<a href="/contacts/<%= @contact.id%>/phones/new" class="btn btn-md btn-success">Add a new phone number</a>
<a href="/contacts/<%= @contact.id%>/emails/new" class="btn btn-md btn-info">Add a new email address</a>
<a href="/contacts/<%= @contact.id%>/addresses/new" class="btn btn-md btn-warning">Add a new street address</a>
<a href="/" class="btn btn-md btn-primary">Return to Home Page</a>
